<article class="post">
  <div class="meta">
    <time data-format="%B %e, %Y %l:%M%P"
          data-local="time"
          datetime="{{ include.post.date | date_to_xmlschema }}">
          {{ include.post.date | date: "%b %-d, %Y" }}
    </time>
    <h1><a href="{{include.post.url}}">{{ include.post.title }}</a></h1>

    {% if include.post.author %}
      <span>{{ include.post.author }}</span>
    {% endif %}

    {% if include.post.meta %}
      {{ include.post.meta }}
    {% endif %}
  </div>

  <div class="content">
    {{ include.post.content | markdownify }}
  </div>
</article>
