footer {
  margin-top: $base-margin;
  text-align: center;

  @include media($medium-screen-up) {
    text-align: right;
  }
}

footer a img {
  margin: auto $base-margin;
  width: 50px;
  height: 50px;

  @include media($medium-screen-up) {
    width: 25px;
    height: 25px;
    margin: auto;
  }
}

img.white {
  background-color: black;
  border-radius: 3px;
  padding: 3px;
}
