header {
  text-align: center;

  h1 {
    width: 2.45em;
    margin: auto;
    font-size: 4.30em;
    background-color: black;
    color: white;
  }

  small {
    display: block;
    font-size: 0.3em;
  }

  a {
    margin: auto $base-margin;
  }

  nav {
    margin: $base-margin auto;
  }
}

