header {
  text-align: center;

  h1 {
    margin: auto;
    padding: $base-margin / 2;

    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 1em;

    @include media($medium-screen-up) {
      width: 2.45em;
      font-size: 4.30em;
      line-height: $unitless-line-height * 0.6;
      padding: initial;
    }
  }

  small {
    font-size: 1em;
    padding-left: $base-margin / 2;

    @include media($medium-screen-up) {
      display: block;
      font-size: 0.3em;
      line-height: $unitless-line-height;
      padding: initial;
    }
  }

  a {
    margin: auto ($base-margin / 2);

    @include media($medium-screen-up) {
      margin: auto $base-margin;
    }
  }

  nav {
    margin: $base-margin auto;
  }
}

