address {
  margin: $base-margin;
  font-style: normal;
}

address a {
  display: block;
}

.about {
  text-align: center;
  font-size: 0.85 * $base-font-size;

  @include media($medium-screen-up) {
    font-size: $base-font-size;
  }

  img {
    @include media($medium-screen-up) {
      margin: $base-margin auto;
    }
  }
}
